﻿@model IEnumerable<City>
@{ 
    ViewData["Title"] = "Manage cities";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">
            <div>
                <h2 asp-loc>@ViewData["Title"]</h2>
                <p><a asp-action="Create" asp-loc>Create new city</a></p>
                @if (Model?.Count() > 0)
                {
                    <div class="tickets-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.Name)
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.Id">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h4 asp-loc>The list of cities is empty.</h4>
                }
            </div>
        </div>
    </div>
</div>
