﻿@model Venue

@{
    ViewData["Title"] = "Create venue";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <h2 asp-loc>Create venue</h2>
            <hr />
            <form asp-action="Create" asp-antiforgery="true">
                <div class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger" asp-loc></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2 control-label" asp-loc>Title</label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select name="CityId" asp-for="CityId" asp-items="ViewBag.Cities" class="form-control"></select>
                            <span asp-validation-for="CityId" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" asp-loc>Create</button>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index" asp-loc>Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
