﻿@model IEnumerable<Venue>
@{ 
    ViewData["Title"] = "Manage venues";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <div>
                <h2 asp-loc>@ViewData["Title"]</h2>
                <p><a asp-action="Create" asp-loc>Create new venue</a></p>

                @if (Model?.Count() > 0)
                {

                    @foreach (var item in Model)
                    {
                        <div class="edit-item-container">
                            <div class="event-content">
                                <div class="venue-description">
                                    <h3>
                                        @Html.DisplayFor(x => item.Name)
                                    </h3>
                                    <p>
                                        <strong>@Html.DisplayNameFor(x => item.Address):</strong>
                                        @Html.DisplayFor(x => item.Address)
                                    </p>
                                    <p>
                                        <strong>@Html.DisplayNameFor(x => item.City.Name):</strong>
                                        @Html.DisplayFor(x => item.City.Name)
                                    </p>
                                </div>
                            </div>
                            <div class="edit-delete-group">
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4 asp-loc>The list of venues is empty.</h4>
                }
            </div>
        </div>
    </div>
</div>
