﻿@model EpamLabs.TicketResale.Presentation.ViewModels.Users.UsersViewModel

@{
    ViewData["Title"] = "Grant admin";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <h2 asp-loc>Grant administration rights</h2>

            <h3 asp-loc>Are you sure you want to grant the site's administration rights to this user?</h3>
            <h4 asp-loc>User:</h4>
            <div>
                <dl class="dl-horizontal">
                    <dt asp-loc>
                        Login:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.UserName)
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt asp-loc>
                        Name:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.User.FirstName)
                        @Html.DisplayFor(model => model.User.LastName)
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt asp-loc>
                        Current role:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RoleName)
                    </dd>
                </dl>
                <form asp-action="GrantAdmin">
                    <input type="hidden" asp-for="User.Id" />
                    <div class="form-actions no-color">
                        <input type="submit" value="Grant" class="btn btn-default" /> |
                        <a asp-action="Index" asp-loc>Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
