﻿@model IEnumerable<EpamLabs.TicketResale.Presentation.ViewModels.Users.UsersViewModel>
@{ 
    ViewData["Title"] = "Manage user rights";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">
            <div>
                <h2 asp-loc>@ViewData["Title"]</h2>
                @if (Model?.Count() > 0)
                {
                    <div class="tickets-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th asp-loc>
                                        Login
                                    </th>
                                    <th asp-loc>
                                        Name
                                    </th>
                                    <th asp-loc>
                                        Role
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => item.User.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.User.FirstName)
                                            @Html.DisplayFor(m => item.User.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.RoleName)
                                        </td>
                                        <td>
                                            @if (item.RoleName != Roles.Admin)
                                            {
                                                <a asp-action="GrantAdmin" asp-route-id="@item.User.Id" asp-loc>
                                                    <span class="glyphicon glyphicon-plus" style="color: green"></span>
                                                    Grant admin
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="RevokeAdmin" asp-route-id="@item.User.Id" asp-loc>
                                                    <span class="glyphicon glyphicon-minus-sign" style="color: red"></span>
                                                    Revoke admin
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h4 asp-loc>There's no registered users besides yourself.</h4>
                }
            </div>
        </div>
    </div>
</div>
