﻿@model Ticket

@{
    ViewData["Title"] = "Add ticket";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>Add ticket for sale</h2>
            <hr />
            <form asp-action="Create" asp-antiforgery="true">
                <div class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger" asp-loc></div>
                    <input asp-for="UserId" type="hidden" />
                    <input asp-for="State" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Event" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="EventId" asp-items="ViewBag.Events" class="form-control"></select>
                            <span asp-validation-for="EventId" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment" class="col-md-2 control-label" asp-loc>Comment</label>
                        <div class="col-md-10">
                            <input asp-for="Comment" class="form-control" />
                            <span asp-validation-for="Comment" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" asp-loc>Add</button>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index" asp-loc>Back to my tickets</a>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
