﻿@model Ticket

@{
    ViewData["Title"] = "Delete ticket";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>Delete ticket</h2>

            <h3 asp-loc>Are you sure you want to delete this ticket?</h3>
            <div>
                <div>
                    @await Html.PartialAsync("_MyTicketPartial", Model)
                </div>

                <form asp-action="Delete">
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <a asp-action="Index" asp-loc>Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
