﻿@model Ticket

@{
    ViewData["Title"] = "Edit ticket";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-9">
            <h2 asp-loc>Edit ticket</h2>
            <hr />
            <form asp-action="Edit" asp-antiforgery="true">
                <div class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger" asp-loc></div>
                    <input asp-for="EventId" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Event" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            @await Html.PartialAsync("_EventPartial", Model.Event)
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment" class="col-md-2 control-label" asp-loc>Comment</label>
                        <div class="col-md-10">
                            <input asp-for="Comment" class="form-control" />
                            <span asp-validation-for="Comment" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" asp-loc>Save</button> |
                            <a asp-action="Index" asp-loc>Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

