﻿@using EpamLabs.TicketResale.Presentation.ViewModels.Tickets
@model TicketsIndexViewModel
@{
    ViewData["Title"] = "Tickets";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <div>
                @if (Model.Message != TicketsIndexMessage.None)
                {
                    <div class="alert alert-success" asp-loc>
                        @Model.Message.GetMessage()
                    </div>
                }

                <h2 asp-loc>My tickets</h2>

                <p><a asp-action="Create" asp-loc>Add ticket</a></p>
                @if (Model.ForSale?.Count() > 0 ||
                        Model.Ordered?.Count() > 0 ||
                        Model.Sold?.Count() > 0)
                {
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#forSale" asp-loc>For sale</a></li>
                        <li>
                            <a data-toggle="tab" href="#ordered" asp-loc>
                                Pending
                                @if (Model.Ordered?.Count() > 0)
                {
                                    <span class="badge">@Model.Ordered.Count()</span>
                                }
                            </a>
                        </li>
                        <li><a data-toggle="tab" href="#sold" asp-loc>Sold</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="forSale" class="tab-pane fade in active">
                            @if (Model.ForSale?.Count() > 0)
                {
                    foreach (var item in Model.ForSale)
                    {
                                    <div class="edit-item-container">
                                        @await Html.PartialAsync("_MyTicketPartial", item)
                                        <div class="edit-delete-group">
                                            <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id" title="Remove">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p asp-loc>Your list of tickets for sale is empty.</p>
                            }
                        </div>
                        <div id="ordered" class="tab-pane fade">
                            @if (Model.Ordered?.Count() > 0)
                {
                    foreach (var item in Model.Ordered)
                    {
                                    <div class="edit-item-container">
                                        @await Html.PartialAsync("_MyTicketPartial", item.Ticket)
                                        <p>
                                            <strong asp-loc>Buyer: </strong>@item.User.FirstName @item.User.LastName
                                            <div>
                                                <a asp-action="Confirm" asp-controller="Orders" asp-route-id="@item.Id" class="btn btn-primary" asp-loc>Confirm</a>
                                                <a asp-action="Reject" asp-controller="Orders" asp-route-id="@item.Id" class="btn btn-default" asp-loc>Reject</a>
                                            </div>
                                        </p>
                                    </div>
                                }
                            }
                            else
                            {
                                <p asp-loc>There's no orders to confirm.</p>
                            }
                        </div>
                        <div id="sold" class="tab-pane fade">
                            @if (Model.Sold?.Count() > 0)
                {
                    foreach (var item in Model.Sold)
                    {
                                    <div class="edit-item-container">
                                        @await Html.PartialAsync("_MyTicketPartial", item.Ticket)
                                        <p><strong asp-loc>Buyer: </strong> @item.User.FirstName @item.User.LastName</p>
                                        <p><strong asp-loc>Tracking No.: </strong> @item.TrackingNumber</p>
                                    </div>
                                }
                            }
                            else
                            {
                                <p asp-loc>Your list of sold tickets is empty.</p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p asp-loc>Your list of tickets is empty.</p>
                }
            </div>
        </div>
    </div>
</div>





            