﻿@model SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
}

<h2 asp-loc>@ViewData["Title"].</h2>

<p asp-loc>SMS with verification code will be sent to your phone because two-factor authentication is enabled for your account. </p>
<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-default" asp-loc>Send</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
