body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    max-width: 1080px;
    margin: auto;
}

input,
select,
textarea {
    /* max-width: 280px; */
    /* width: 125px; */
}

#logo {
    font-size: 3em;
    padding: 0 35px;
    float: left;
    text-decoration: none;
    font-weight: 900;
    color: #B2D3EF; /*primary-1*/
    white-space: nowrap;
    font-family: "Century Gothic","Gill Sans", Arial;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    ms-transform:  translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

#header {
    background-color: #5992C2; /*primary-0*/
    margin: 10px;
    height: 100px;
    margin-bottom: 5px;
    min-width: 640px;
}

#mynavbar {
    height: 35px;
    min-width: 640px;
    background:#B2D3EF;
    margin: 0 10px;
}

.main {
    margin: 10px;
    padding: 20px;
    min-height: 720px;
    min-width: 640px;
}

h1, h2, h3, h4, h5, h6 {
    color: #206196; /*primary-4*/
}



.event-content {
    margin: 5px;
    background-color: white;
    box-shadow: 0 0 5px 0 #e2e3e4;
    height: 131px;
}

.event-content .right {
    padding: 10px;
    border-left: 1px solid #f1f1f1;
    width: 130px;
    height: 130px;
    line-height: 110px;
    text-align: center;
}

.event-content .right:hover {
    opacity: .7;
    transition: opacity 0.1s ease-in-out;
}

.right {
    float: right;
}

.left {
  float: left;
}

.event-details .right {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    margin-left: 40px;
}

.center {
   max-width: 90%;
   max-height: 90%;
   vertical-align: middle;
   /* display: block; */
}


.event-description {
    position: relative;
    top: 20px;
    left: 20px;
    margin-right: 200px;
}

.venue-description {
    position: relative;
    top: 20px;
    left: 20px;
    margin-right: 50px;
}

.event-description a {
    text-decoration: none;
    color: #3A75A7; /*primary-3*/
}

.event-description a:hover {
    color: #80B1DA; /*primary-2*/
}

.event-description .date {
    font-size: 0.9em;
}

.event-details {
    padding: 20px;
    min-height: 300px;
    padding-bottom: 40px;
    /* border: 1px solid #ddd; */
}

.event-details .event-description {
    margin-right: 340px;
}
footer {
    position: relative;
    clear: both;
}
#lang-selector {
    position: absolute;
    right: 10px;
    top: 19px;
    width: 290px;
}

#mynavbar ul {
    padding: 5px;
    list-style-type: none;
    background-color: #B2D3EF; /*primary-1*/
    margin: 0 10px;
}

#mynavbar ul li {
    display: inline;
}

#mynavbar ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: .4em 1em;
    color: #206196;/*primary-4*/
    background-color: #B2D3EF;/*primary-1*/
}

#mynavbar ul li.dropdown {
    padding-bottom: 8px;
    z-index: 1;
}

#mynavbar ul li a:hover {
    color: #B2D3EF;/*primary-1*/
    background-color: #206196;/*primary-4*/
}

#user-corner {
    float: right;
    padding: 11px;
    font-size: 100%;
    position: relative;
    top: 43px;
    right: 0;
    /* width: 150px; */
    /* text-align: center; */
    /* background-color: #B2D3EF; */
    /* margin-right: 30px; */
}

#user-corner:hover {
    /* background-color: #206196 */
}
#user-corner button {
    font-size: 100%;
}
#user-corner a {
    text-decoration: none;
    color: #206196;/*primary-4*/
}

#user-corner a:hover, #user-corner button:hover {
    text-decoration: none;
    color: white;/*primary-1*/
    background-color: #3A75A7;/*primary-3*/ */
}

#user-corner ul {
    list-style-type: none;
    margin: 0;
}

#user-corner button {
    margin: 0;
    padding: 12px 16px;
    color: #206196;/*primary-4*/
    text-decoration: none;
    display: inline;
    width: 100%;
    text-align: left;
}

.btn, .form-control {
    border-radius: 0;
}

#footer {
    background-color: #B2D3EF;
    margin: 10px;
    padding: 15px;
    height: 60px;
    clear: both;
    color: #3A75A7;
    font-size: 90%;
    min-width: 640px;
}

#footer p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    ms-transform:  translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.tickets-container {
    margin: 40px;
}

.table {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px 0 #e2e3e4;
    margin: 20px 0;
}

.table thead tr th, .table tbody tr td {
    padding: 20px;
}


.key-val-container {
    margin: 0px 0;
    box-shadow: 0 0 5px 0 #e2e3e4;
    width: 700px;
}

.key-val-item {
    padding: 10px;
    margin: 2px 0;
    display: table;
    background-color: white;
}

.key, .val {
    display: table-cell;
    width: 400px;
}

.key {
    padding: 20px;
    color: black;
}

.val {
    color: rgba(0,0,0,0.65);
}

.nav-tabs > li > a {
    border-radius: 0;
}

.order-status {/* bottom: -15px; *//* float: right; *//* position: relative; *//* right: 71px; */}

.event-content .event-description .price {
    float: right;
    margin: 0;
    position: relative;
    top: 75px;
    right: -21px;
}

.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
/*     z-index: 4; */
}

#user-corner .dropdown {
  z-index: 4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 25px;
    right: 0px;
}

.dropdown-content a, .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content form:hover {
     background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    fbackground-color: #3e8e41;
}

#user-corner .dropbtn {
    color: #eee;
    width: 100%;
}

#login-register a {
    color: white;
    
}

.edit-item-container {
    padding: 1px 15px;
    background-color: #fff;
    margin: 5px;
}

.editable-image:hover {
    opacity: .5;
    cursor: pointer;
}

.tight-line {
    line-height: 0.9;
}

.edit-delete-group {
    margin: 5px 10px;
}

.alert {
    border-radius: 0;
}

table .btn {
    margin: -12px;
    padding: 10px;
}

.buttons-lower-left {
    /* float: right; */
    /* position: relative; */
    /* top: -42px; */
    /* right: 0px; */
    /* display: inline-block; */
}
/*
.alert-success {
    color: #206196;
    background-color: #B2D3EF;
}*/

.well {
    border-radius: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5992C2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5992C2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.global-search {
  margin: 5px;
}

.global-search input {
  width: 200px;
  border: 1px;
  font-size: 14px;
  padding: 0 5px;
}

.global-search>a>span.glyphicon {
  padding: 0 10px;
  color: #3A75A7;
}

ul.ui-autocomplete li{
  background-color: white;
}

#filter-form select {
  /* width: 180px; */
}

.pagination-wrapper {
  float: right;
  /* margin: 0; */
  /* padding: 0; */
}

.pagination {
  margin-bottom: 0;
}

.pagination-wrapper .pagination li > a {
  border-radius: 0;
}

.pagination-wrapper .pagination > .active > a,
.btn-primary {
  background-color: #5992C2;
}

#events-heading {
  padding-bottom: 20px;
}

#show-more {
  margin: 20px auto;
  display:block;
}

.dropdown.example {
  width: 100%;
}

#filter-name-wrapper {
  width: 100%;
}