﻿@model ApplicationUser
@using Microsoft.AspNetCore.Localization;
@{
    ViewData["Title"] = "Personal info";
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.NativeName;
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>Edit personal info</h2>
            <h4>User name: @Model.UserName</h4>
            <form asp-action="Edit">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="key-val-container">
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="FirstName"></label>
                    </h4>
                    <div class="val">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="LastName"></label>
                    </h4>
                    <div class="val">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="Email"></label>
                    </h4>
                    <div class="val">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="Address"></label>
                    </h4>
                    <div class="val">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-default" type="submit">Save</button>
        </form>
        </div>
    </div>
</div>
