﻿@model EpamLabs.TicketResale.Presentation.ViewModels.UserInfo.UserInfoIndexViewModel
@{
    ViewData["Title"] = "Personal info";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            @if (Model.Message != ManageMessage.None)
            {
                <div class="alert alert-success" asp-loc>
                    @Model.Message.GetMessage()
                </div>
            }
            <h2 asp-loc>Personal info <a asp-action="Edit"><span class="glyphicon glyphicon-edit"></span></a></h2>
            <h4><span asp-loc>User name:</span> @Model.User.UserName</h4>
            <div class="key-val-container">
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="User.FirstName"></label>
                    </h4>
                    <div class="val">
                        @Html.DisplayFor(m => m.User.FirstName)
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="User.LastName"></label>
                    </h4>
                    <div class="val">
                        @Html.DisplayFor(m => m.User.LastName)
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="User.Address"></label>
                    </h4>
                    <div class="val">
                        @Html.DisplayFor(m => m.User.Address)
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="User.Email"></label>
                    </h4>
                    <div class="val">
                        @Html.DisplayFor(m => m.User.Email)
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-for="User.PhoneNumber"></label>
                    </h4>
                    <div class="val">
                        @if (string.IsNullOrEmpty(Model.User.PhoneNumber))
                        {
                            <a asp-controller="Manage" asp-action="AddPhoneNumber" asp-loc>
                                <span class="glyphicon glyphicon-plus" style="color: green"></span>
                                Add phone number
                            </a>
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.User.PhoneNumber) 
                            <a asp-controller="Manage" asp-action="AddPhoneNumber" asp-loc>
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a asp-controller="Manage" asp-action="RemovePhoneNumber" asp-loc>
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        }
                    </div>
                </div>
                <div class="key-val-item">
                    <h4 class="key">
                        <label asp-loc>Two-factor authentication</label>
                    </h4>
                    <div class="val">
                        @if (Model.User.PhoneNumberConfirmed)
                        {
                            if (Model.User.TwoFactorEnabled)
                            {
                                <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" asp-loc>
                                    <span asp-loc>Enabled</span> <button type="submit" class="btn-link btn-bracketed" asp-loc>Disable</button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" asp-loc>
                                    <button type="submit" class="btn-link btn-bracketed" asp-loc>Enable</button> <span asp-loc>Disabled</span>
                                </form>
                            }
                        }
                        else
                        {
                            <span asp-loc>Add phone number to enable</span>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>