﻿@model Order

@{
    ViewData["Title"] = "Cancel order";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">

            <h2 asp-loc>Cancel order</h2>

            <h3 asp-loc>Are you sure you want to cancel this order?</h3>
            <div>
                <div>
                    @await Html.PartialAsync("_OrderPartial", Model)
                </div>

                <form asp-action="Cancel">
                    <div class="form-actions no-color">
                        <button type="submit" class="btn btn-default" asp-loc>Cancel order</button> |
                        <a asp-action="Index" asp-loc>Back to List</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>