﻿@model Ticket

@{
    ViewData["Title"] = "Place order";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>Place order</h2>
            <hr />
            <h3 asp-loc>Are you sure you want to order this ticket?</h3>
            <div>
                <p>
                    <strong>Seller:</strong> @Model.User.FirstName @Model.User.LastName
                </p>
                <div>
                    @await Html.PartialAsync("_MyTicketPartial", Model)
                </div>

                <form asp-action="Create">
                    <div class="form-actions no-color">
                        <button type="submit" value="Submit" class="btn btn-default" asp-loc>Submit</button> |
                        <a href="@ViewBag.ReturnUrl" asp-loc>Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>