﻿@using EpamLabs.TicketResale.Presentation.ViewModels.Orders
@model OrdersIndexViewModel
@{
    ViewData["Title"] = "Orders";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>My orders</h2>
            @if (Model.Message != OrdersIndexMessage.None)
            {
                <div class="alert alert-success" asp-loc>
                    @Model.Message.GetMessage()
                </div>
            }

            @if (Model.Orders?.Count() > 0)
            {
                foreach (var item in Model.Orders)
                {
                    <div class="edit-item-container">
                        @if (item.State == OrderState.Confirmed)
                        {
                            <div class="label label-success right" asp-loc>@item.State.GetDisplayName()</div>
                        }
                        else if (item.State == OrderState.Rejected)
                        {
                            <div class="label label-warning right" asp-loc>@item.State.GetDisplayName()</div>
                        }
                        else
                        {
                            <div class="label label-default right" asp-loc>@item.State.GetDisplayName()</div>
                        }
                        @await Html.PartialAsync("_OrderPartial", item)
                        <p><strong asp-loc>Seller: </strong> @item.Ticket.User.FirstName @item.Ticket.User.LastName</p>
                        @if (item.State == OrderState.Confirmed)
                        {
                            <p><strong asp-loc>Tracking No.: </strong> @item.TrackingNumber</p>
                        }
                        @if (item.State == OrderState.Pending)
                        {
                            <div>
                                <a asp-action="Cancel" asp-route-id="@item.Id" class="btn btn-default" asp-loc>Cancel</a>
                            </div>
                            <p></p>
                        }
                        @if (item.State == OrderState.Rejected)
                        {
                            <p><strong asp-loc>Seller's comment: </strong><em> @item.RejectReason</em></p>
                        }
                    </div>
                }
            }
            else
            {
                <p asp-loc>Your list of orders is empty.</p>
            }

        </div>
    </div>
</div>

