﻿@model Order

@{
    ViewData["Title"] = "Reject order";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>Reject order</h2>

            <h3 asp-loc>Please, leave a message for the buyer.</h3>
            <div>
                <div class="edit-item-container">
                    @await Html.PartialAsync("_OrderPartial", Model)
                    <p><strong asp-loc>Buyer: </strong> @Model.User.FirstName @Model.User.LastName</p>
                </div>

                <form asp-action="Reject">
                    <div class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger" asp-loc></div>
                        <input asp-for="Id" type="hidden" />
                        <div class="form-group">
                            <label asp-for="RejectReason" class="col-md-2 control-label">Message: </label>
                            <div class="col-md-10">
                                <textarea asp-for="RejectReason" class="form-control"></textarea>
                                <span asp-validation-for="RejectReason" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-actions no-color">
                            <button type="submit" class="btn btn-default" asp-loc>Reject order</button> |
                            <a asp-action="Index" asp-controller="Tickets" asp-loc>Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>