﻿@model Event

@{
    ViewData["Title"] = "Create event";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <h2 asp-loc>Create event</h2>
            <hr />
            <form asp-action="Create" asp-antiforgery="true" enctype="multipart/form-data">
                <div class="form-horizontal">

                    <div asp-validation-summary="All" class="text-danger" asp-loc></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="col-md-2 control-label"></label>
                        <div class="col-md-10 date">
                            <input asp-for="Date" class="form-control" type="datetime-local" />
                            <span asp-validation-for="Date" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="VenueId" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select name="VenueId" asp-for="VenueId" asp-items="ViewBag.Venues" class="form-control"></select>
                            <span asp-validation-for="VenueId" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Url" class="col-md-2 control-label" asp-loc>External webpage</label>
                        <div class="col-md-10">
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image" class="col-md-2 control-label">Image</label>
                        <div class="col-md-10">
                            <input id="image" name="image" class="form-control" type="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" asp-loc>Create</button>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index" asp-loc>Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
