﻿@model Event

@{
    ViewData["Title"] = "Delete event";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <h2 asp-loc>Delete</h2>
            @if (ViewBag.Deleteable)
            {
                <h3 asp-loc>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Event</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            <a asp-action="Index" asp-loc>Back to List</a>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                </dl>
                <p class="alert alert-danger" asp-loc>You cannot delete this event because at least one ticket depends on it.</p>
                <a asp-action="Index" asp-loc>Back to List</a>
            }
        </div>
    </div>
</div>
