﻿@model EventDetailsViewModel

@{
    ViewData["Title"] = "Event";
}

<div class="event-details">
    
    <div class="right">
        <img class="center" src="@Model.Event.Image" />
    </div>
    <div class="event-description">
        <div>
            @Html.DisplayFor(m => m.Event.Date), @String.Format("{0:dddd}", Model.Event.Date)
        </div>
        <h1>
            @Html.DisplayFor(m => m.Event.Name)
        </h1>
        <h4>@Html.DisplayNameFor(m => m.Event.Venue)</h4>
        <div>@Html.DisplayFor(m => m.Event.Venue.Name)</div>
        <div>@Html.DisplayFor(m => m.Event.Venue.Address)</div>
        <div>@Html.DisplayFor(m => m.Event.Venue.City.Name)</div>
        <h4>@Html.DisplayNameFor(m => m.Event.Description)</h4>
        <div>@Html.DisplayFor(m => m.Event.Description)</div>
        <h5><a href="@Model.Event.Url" target="_blank">@Html.DisplayNameFor(m => m.Event.Url)</a></h5>
    </div>
        
</div>
@if (Model.Event.Date > DateTime.Now)
{
    @if (Model.TicketsForSale?.Count() > 0)
    {
        <div class="tickets-container">
            <h3 asp-loc>Buy tickets</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.TicketsForSale.First().UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.TicketsForSale.First().Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.TicketsForSale.First().Comment)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model.TicketsForSale)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => t.User.FirstName)
                                @Html.DisplayFor(m => t.User.LastName)
                            </td>
                            <td>
                                US $@Html.DisplayFor(m => t.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(m => t.Comment)
                            </td>
                            <td>
                                <a asp-action="Create" asp-controller="Orders" asp-route-id="@t.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-default" asp-loc>Buy</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4 asp-loc>Currently nobody sells tickets for this event</h4>
    }
}
else
{
    <h4 asp-loc>This is a past event</h4>
}
<p asp-loc>
    Do you want to sell your tickets for this event?
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Tickets" asp-action="Create" asp-route-eventId="@Model.Event.Id" asp-loc>Click here</a>
    }
    else
    {
        <span asp-loc>Please, </span>
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" asp-loc>log in</a>
        <span asp-loc> or </span>
        <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path" asp-loc>register</a>
    }
</p>


