﻿@model Event

@{
    ViewData["Title"] = "Edit event";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <h2 asp-loc>Edit event</h2>
            <hr />

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="UpdateImage" id="image-upload-form" enctype="multipart/form-data">
                        <div class="form-horizontal">
                            <input asp-for="@Model.Id" type="hidden" />
                            <img src="@Model.Image" id="avatar-image" class="editable-image" width="200" />
                            <input id="image-input" name="image" class="hidden" type="file" />
                            <script>
                                document.getElementById("avatar-image").onclick = function () {
                                    document.getElementById("image-input").click();
                                };
                                document.getElementById("image-input").onchange = function () {
                                    document.getElementById("image-upload-form").submit();
                                };
                            </script>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <form asp-action="Edit" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-antiforgery="true">
                        <div class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="@Model.Id" type="hidden" />
                            <input asp-for="@Model.Image" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Date" class="col-md-2 control-label"></label>
                                <div class="col-md-10 date">
                                    <input asp-for="Date" class="form-control" type="datetime-local" />
                                    <span asp-validation-for="Date" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VenueId" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select name="VenueId" asp-for="VenueId" asp-items="ViewBag.Venues" class="form-control"></select>
                                    <span asp-validation-for="VenueId" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Url" class="col-md-2 control-label" asp-loc>External webpage</label>
                                <div class="col-md-10">
                                    <input asp-for="Url" class="form-control" />
                                    <span asp-validation-for="Url" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default" asp-loc>Save</button> |
                                    <a asp-action="Index" asp-loc>Back to List</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
