﻿@model IEnumerable<Event>
@{ 
    ViewData["Title"] = "Manage events";
}

<div class="">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_AdminSidebar")
        </div>
        <div class="col-md-9">

            <div>

                @if (Model?.Count() > 0)
                {
                    <h2 asp-loc>All events</h2>

                    <p><a asp-action="Create" asp-loc>Create new event</a></p>

                    foreach (var item in Model)
                    {
                        <div class="edit-item-container">
                            @await Html.PartialAsync("_EventPartial", item)
                            <div class="edit-delete-group">
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4 asp-loc>Upcoming events list is empty.</h4>
                }
            </div>
        </div>
    </div>
</div>
