﻿@using EpamLabs.TicketResale.Presentation.ViewModels.Manage
@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add phone number";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>@ViewData["Title"]</h2>
            <form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal" asp-loc>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" asp-loc>Send verification code</button> |
                        <a asp-controller="UserInfo" asp-action="Index" asp-loc>Back</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
