﻿@using EpamLabs.TicketResale.Presentation.ViewModels.Manage
@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Remove phone number";
}

<div class="">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_UserSidebar")
        </div>
        <div class="col-md-10">
            <h2 asp-loc>@ViewData["Title"]</h2>
            <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post" class="form-horizontal" asp-loc>
                <hr />
                <h4 asp-loc>Are you sure you want to remove your phone number?</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <p class="alert alert-warning" asp-loc><strong>Warning:</strong> If you remove your phone number the two-factor authentication will be disabled.</p>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" asp-loc>Remove</button> |
                        <a asp-controller="UserInfo" asp-action="Index" asp-loc>Back</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
