﻿<div id="login-register">
    <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path" asp-loc>Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" asp-loc>Log in</a>
</div>
