﻿@model string

<div class="dropdown">
    <a asp-controller="UserInfo" asp-action="Index" title="Manage" class="dropbtn">@Model <span class="caret"></span>&nbsp;</a>
    <div class="dropdown-content">
        <a asp-controller="UserInfo" asp-action="Index" asp-loc title="Manage">Personal info</a>
        <a asp-controller="Tickets" asp-action="Index" asp-loc title="My Tickets">My tickets</a>
        <a asp-controller="Orders" asp-action="Index" asp-loc title="My Orders">My orders</a>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
            <a href="javascript:document.getElementById('logoutForm').submit()" asp-loc>Log off</a>
        </form>
    </div>
</div>


