﻿<div class="well">
    <p>
        <a asp-controller="Cities" asp-action="Index" asp-loc>Manage cities</a>
        <br />
        <a asp-controller="Venues" asp-action="Index" asp-loc>Manage venues</a>
        <br />
        <a asp-controller="Events" asp-action="Index" asp-loc>Manage events</a>
        <br />
        <a asp-controller="Users" asp-action="Index" asp-loc>Manage users</a>
    </p>
</div>