﻿@model Event

<div class="event-content">
    <div class="right">
        <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Id">
            <img class="center" src="@Model.Image" />
        </a>
    </div>
    <div class="event-description">
        <h3>
            <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Id">
                @Html.DisplayFor(x => x.Name)
            </a>
        </h3>
        <p class="date">
            @Html.DisplayFor(x => x.Date)
        </p>
        <p>
            @Html.DisplayFor(x => x.Venue.Name), @Html.DisplayFor(x => x.Venue.City.Name)
        </p>
    </div>
</div>