﻿<div class="well">
    <h4 asp-loc>Events filter</h4><br/>
    <form id="filter-form">
        <div class="dropdown example">
            <select id="cities-filter" name="cityIds" multiple class="ui fluid search dropdown">
                <option value="" asp-loc>City</option>
            </select>
        </div>
        <br />
        <br />

        <div class="dropdown example">
            <select id="venues-filter" name="venueIds" multiple class="ui fluid search dropdown">
                <option value="" asp-loc>Venue</option>
            </select>
        </div>
        <br />
        <br />

        <div class="ui form">
            <div class="ui calendar" id="rangestart">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Since" name="since">
                </div>
            </div>
            <div class="ui calendar" id="rangeend">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Until" name="until">
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />

        <div id="filter-name-wrapper" class="ui icon input">
            <input type="text" id="filter-name-input" name="q" placeholder="Event name" class="autocomplete" autocomplete="off"/>
            <i class="search icon"></i>
        </div>
        <br />
        <br />

        <button id="apply-filter" type="button" class="btn btn-primary" asp-loc>Filter</button>
        <button id="reset-filter" type="reset" class="btn btn-default" asp-loc>Reset</button>
    </form>
</div>