﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/jquery/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/semantic.css" />
    <link rel="stylesheet" href="~/css/calendar.css" />


    <title asp-loc>@ViewData["Title"] - Ticket Resale</title>
</head>
<body style="margin: auto">
    <div id="header">
        <a id="logo" asp-controller="Home" asp-action="Index" class="">ticket resale</a>
        <div id="user-corner">
            <vc:login />
        </div>
    </div>
    <div id="mynavbar">
        <ul class="left clearfix">
            <li><a asp-controller="Home" asp-action="Index" class="" asp-loc>Home</a></li>
            @if (User.IsInRole(Roles.Admin))
            {
                <li class="dropdown">
                    <a asp-controller="Cities" asp-action="Index" class="dropbtn" asp-loc>Administrator <span class="caret"></span></a>
                    <div class="dropdown-content">
                        <a asp-controller="Cities" asp-action="Index" asp-loc>Manage cities</a>
                        <a asp-controller="Venues" asp-action="Index" asp-loc>Manage venues</a>
                        <a asp-controller="Events" asp-action="Index" asp-loc>Manage events</a>
                        <a asp-controller="Users" asp-action="Index" asp-loc>Manage users</a>
                    </div>
                </li>
            }
        </ul>
        @*<div class="search-and-filter">
            <div class="global-search right clearfix">
                <input class="autocomplete" autocomplete="on" placeholder="Search"/>
                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>*@
    </div>
    
    <div class="body-content main">
        @RenderBody()
        <hr />
    </div>

    <footer id="footer">
        <p asp-loc>&copy; 2016 - Ticket Resale</p>
        <div id="lang-selector" class="col-md-6 text-right">
            <vc:select-language />
        </div>
    </footer>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/jquery-1.12.4.js"></script>
        <script src="~/lib/jquery/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/autocomplete.js" asp-append-version="true"></script>
        <script src="~/js/filter.js"></script>
        <script src="~/js/semantic.js"></script>
        <script src="~/js/calendar.js"></script>
        <script src="~/js/dropdown.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/calendar.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
