﻿@model Ticket

<div class="event-content">
    <div class="right">
        <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Event.Id">
            <img class="center" src="@Model.Event.Image" />
        </a>
    </div>
    <div class="event-description">
        <h4 class="price">US $@Html.DisplayFor(x => x.Price) </h4>
        <h3>
            <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Event.Id">
                @Html.DisplayFor(x => x.Event.Name)
            </a>
        </h3>
        <p class="date tight-line">
            @Html.DisplayFor(x => x.Event.Date)
        </p>
        <p class="tight-line">
            @Html.DisplayFor(x => x.Event.Venue.Name), @Html.DisplayFor(x => x.Event.Venue.City.Name)
        </p>
        <p class="tight-line">
            <em>@Html.DisplayFor(x => x.Comment)</em>
        </p>
    </div>
</div>