﻿<div class="well">
    <p>
        <strong><a asp-controller="UserInfo" asp-action="Index" asp-loc>Personal info</a></strong>
        <br />
        <em><a asp-controller="Tickets" asp-action="Index" asp-loc>My tickets</a></em>
        <br />
        <em><a asp-controller="Orders" asp-action="Index" asp-loc>My orders</a></em>
    </p>
</div>