﻿@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" asp-loc>Error.</h1>
<h2 class="text-danger" asp-loc>An error occurred while processing your request.</h2>

<h3 asp-loc>Development Mode</h3>
<p asp-loc>
    Swapping to <strong asp-loc>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p asp-loc>
    <strong asp-loc>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
