﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@model IEnumerable<SelectListItem>

<div title="Request culture provider: @ViewData["requestCultureProvider"]">
    <form id="selectLanguage" asp-controller="Home" asp-action="SetCulture" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizontal" role="form">
        <select name="culture" asp-for="@ViewData["requestCulture"]" asp-items="@Model"></select>
    </form>
</div>