﻿@model Page<Event>
@{ 
    ViewData["Title"] = "Upcoming events";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Filter")
    </div>
    <div class="col-md-9">
        @if (Model.TotalElements > 0)
        {
            @if (Model.TotalPages > 1)
                {
                <div class="pagination-wrapper">
                    <ul class="pagination pagination-sm">
                        @for (int i = 0; i < Model.TotalPages; i++)
                        {
                            if (i == Model.PageIndex)
                            {
                                <li class="active"><a href="#">@(i + 1)</a></li>
                            }
                            else
                            {
                                <li><a asp-action="Index" asp-controller="Home" asp-route-page="@i">@(i + 1)</a></li>
                            }

                        }
                    </ul>
                </div>
            }
            <h2 id="events-heading" asp-loc>@ViewData["Title"]</h2>
            <div id="events-container">
                
                @foreach (var item in Model.Content)
                {
                    @await Html.PartialAsync("_EventPartial", item)
                }
                <button id='show-more' class='btn btn-default' asp-loc>Load more results</button>
            </div>
        }
        else
        {
            <h4 asp-loc>Upcoming events list is empty.</h4>
        }
    </div>
</div>